body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #000000, #121212);
  overflow: hidden; /* Restrict scrolling */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 16px;
}

p {
  font-size: 18px;
  margin-top: 8px;
  line-height: 1.5;
}

.vpn-icon {
  font-size: 250px !important;
  position: relative;
}

.vpn-icon::after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border: 2px solid #00ff00;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.7;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.disconnect-button {
  background-color: #8B0000; /* Dark red color */
  color: #fff;
  border: none;
  border-radius: 20px; /* Rounded shape */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
  display: flex; /* Use flexbox for alignment */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Add margin to separate from paragraph */
}

.disconnect-button span {
  margin-right: 10px; /* Add some space between text and icon */
}

.disconnect-button:hover {
  background-color: #FF0000; /* Light red color on hover */
}

.disconnect-button .material-icons {
  margin-left: 5px; /* Margin left for icon spacing */
}
