body {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.pexels.com%2Fsearch%2Fgradient%2F&psig=AOvVaw3Jg0b787mdRrf3yUcp44c8&ust=1714641487520000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCPCy07-P7IUDFQAAAAAdAAAAABAR');
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-top: 16px;
}

p {
  font-size: 18px;
  margin-top: 8px;
  line-height: 1.5;
}

.vpn-icon {
  font-size: 100px !important;
}
