body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 100px; /* Increase the font size */
  margin-bottom: 0; /* Remove the bottom margin */
}

h1 i.material-icons {
  margin-right: 20px; /* Add space between icon and input fields */
  font-size: 120px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0; /* Add space above and below input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px;
  margin-top: 10px; /* Add space above the button */
  background-color: silver;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  transition: color 0.3s; /* Add transition effect for color change */
}

button:hover {
  color: #fff; /* Change text color to white on hover */
}

button span {
  margin-right: 5px; /* Add space between text and icon */
}

.material-icons {
  margin-left: 5px;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.material-icons {
  margin-right: 5px;
}

.login-button.disabled {
  background-color: #999;
  cursor: not-allowed;
  pointer-events: none;
}

.login-button.disabled span {
  opacity: 0.5;
}

.login-button.disabled .material-icons {
  opacity: 0.5;
}

/* Existing CSS styles */

.lock-icon {
  font-size: 100px;
  color: #ff0000;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}