body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #141414;
  color: #fff;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 36px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  width: 200px;
  padding: 10px;
  background-color: silver;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  display: flex;
  justify-content: space-between;
}

button:hover {
  background-color: #c0c0c0;
}

.error-message {
  color: #ff0000;
  margin-top: 10px;
}

.material-icons {
  margin-right: 5px;
}
